@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

.App {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  padding: 60px;
  font-family: "Comfortaa", cursive;
}

.Temp {
  font-size: 40px;
}

.Conditions {
  list-style: none;
  text-align: center;
}

.form-control {
  width: 200px;
}

.Forecast {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.ForecastLow {
  opacity: 0.6;
}

